@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/*Declarando variavéis globais no CSS*/
:root{
    --cor-primaria:#050404;
    --cor-secundaria:#EEF1EF;
    --cor-terciaria:#E3655B;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin:0;
    padding: 0;
}

body{
    /*height: 100vh;*/
    box-sizing: border-box;
    /*background-color: #050404;*/
    background-color: var(--cor-primaria);/*utilizando as variavéis*/
    /*color:#EEF1EF;*/
    color: var(--cor-secundaria);/*utilizando as variavéis*/
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.menu__link{
    /*font-family:'Montserrat', sans-serif;*/
    font-family: var(--fonte-secundaria);/*utilizando as variáveis*/
    font-weight: 600;
    font-size: 24px;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    /*font-family: 'Krona One', sans-serif;*/
    font-family: var(--fonte-primaria);/*utilizando as variavéis*/
}

.Destaque_titulo{
    /*color:#E3655B;*/
    color:var(--cor-terciaria)/*utilizando as variavéis*/
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: var(--cor-primaria);
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentacao__links__link:hover{
    background-color: #272727;
}

.img_perfil{
    width: 467.71px;
    height: 532px;
    border:2px solid var(--cor-terciaria);
    border-radius: 2%;
}

.img_insta{
    width: 32px;
    height: 32px;
    background-color: var(--cor-primaria);
}

.img_insta:hover{
    background-color: #272727;
}

.img_github{
    width: 32px;
    height: 32px;
    background-color: var(--cor-primaria);
}

.img_github:hover{
    background-color: #272727;
}

.img_linkedin{
    width: 32px;
    height: 32px;
    background-color: var(--cor-primaria);
}

.img_linkedin:hover{
    background-color: #272727;
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}