@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/*Declarando variavéis globais no CSS*/
:root{
    --cor-primaria:#050404;
    --cor-secundaria:#EEF1EF;
    --cor-terciaria:#E3655B;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin:0;
    padding: 0;
}

body{
    /*height: 100vh;*/
    box-sizing: border-box;
    /*background-color: #050404;*/
    background-color: var(--cor-primaria);/*utilizando as variavéis*/
    /*color:#EEF1EF;*/
    color: var(--cor-secundaria);/*utilizando as variavéis*/
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.menu__link{
    /*font-family:'Montserrat', sans-serif;*/
    font-family: var(--fonte-secundaria);/*utilizando as variáveis*/
    font-weight: 600;
    font-size: /*24px*/ 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;/*2.25rem é igual a 36px(valor anterior), alterado para responsividade da página HTML*/
    /*font-family: 'Krona One', sans-serif;*/
    font-family: var(--fonte-primaria);/*utilizando as variavéis*/
}

.Destaque_titulo{
    /*color:#E3655B;*/
    color:var(--cor-terciaria)/*utilizando as variavéis*/
}

.apresentacao__conteudo__texto{
    font-size: /*24px*/ 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: /*24px*/ 1.5rem;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: var(--cor-primaria);
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: /*24px*/ 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentacao__links__navegacao:hover{
    background-color: #272727;
}

.img_perfil{
    width: 50%;
    border:2px solid var(--cor-terciaria);
    border-radius: 2%;
}

.img_insta{
    width: 32px;
    height: 32px;
    background-color: transparent;
}


.img_github{
    width: 32px;
    height: 32px;
    background-color: transparent;
}


.img_linkedin{
    width: 32px;
    height: 32px;
    background-color: transparent;
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: /*24px*/ 1.5rem;
    font-weight: 400;
}

@media(max-width: 1200px){/*valor condicional, se lê "se a largura da tela for maior que o valor indicado, deve se seguir as alterações em chaves"*/
    .cabecalho{
       padding: 10%; 
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto; /*alterado para ajustar automaticamente a largura do elemento-pai (apresentacao), não "esmagando" o texto ao reduzir o tamanho da tela*/
        /*inserindo width: 100% conseguiriamos o mesmo resultado do valor auto*/
    }

}